<a href="https://colab.research.google.com/github/Kathy42xu/Kathy42xu/blob/main/Recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import kagglehub
import pandas as pd

path = kagglehub.dataset_download("vedatgul/kozmos")

print("Path to dataset files:", path)



df = pd.read_csv('/root/.cache/kagglehub/datasets/vedatgul/kozmos/versions/1/kozmos.csv')
print(df.head())

Path to dataset files: /root/.cache/kagglehub/datasets/vedatgul/kozmos/versions/1
   Star  HelpFul                                          Title  \
0     5        0                                    looks great
1     5        0  Pattern did not align between the two panels.
2     5        0               Imagery is stretched. Still fun.
3     5        0                 Que se ven elegantes muy finas
4     5        0                             Wow great purchase

                                              Review
0                                      Happy with it
1  Good quality material however the panels are m...
2  Product was fun for bedroom windows.<br />Imag...
3   Lo unico que me gustaria es que sean un poco ...
4  Great bang for the buck I can't believe the qu...

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Star     5611 non-null   int64
 1   HelpFul  5611 non-null   int64
 2   Title    5559 non-null   object
 3   Review   5593 non-null   object
dtypes: int64(2), object(2)
memory usage: 175.5+ KB

#Normalizing file

In [17]:
df['Review'] = df['Review'].str.lower()

In [18]:
df["Review"]

0                                           happy with it
1       good quality material however the panels are m...
2       product was fun for bedroom windows.<br />imag...
3        lo unico que me gustaria es que sean un poco ...
4       great bang for the buck i can't believe the qu...
                              ...
5606    great product for reasonable money.  delivered...
5607             color is way off and panels do not match
5608    these are great for my studio as they compleme...
5609    brought out the beauty in kids room. they love...
5610    very cute curtains in my sons room! thick enou...
Name: Review, Length: 5611, dtype: object

#Modify Punctuations

In [19]:
df['Review'] = df['Review'].str.replace('[^\w\s]', '')

In [20]:
df['Review']

0                                           happy with it
1       good quality material however the panels are m...
2       product was fun for bedroom windows.<br />imag...
3        lo unico que me gustaria es que sean un poco ...
4       great bang for the buck i can't believe the qu...
                              ...
5606    great product for reasonable money.  delivered...
5607             color is way off and panels do not match
5608    these are great for my studio as they compleme...
5609    brought out the beauty in kids room. they love...
5610    very cute curtains in my sons room! thick enou...
Name: Review, Length: 5611, dtype: object

#Modify numbers

In [21]:
df['Review'] = df['Review'].str.replace('\d', '')

In [22]:
df['Review']

0                                           happy with it
1       good quality material however the panels are m...
2       product was fun for bedroom windows.<br />imag...
3        lo unico que me gustaria es que sean un poco ...
4       great bang for the buck i can't believe the qu...
                              ...
5606    great product for reasonable money.  delivered...
5607             color is way off and panels do not match
5608    these are great for my studio as they compleme...
5609    brought out the beauty in kids room. they love...
5610    very cute curtains in my sons room! thick enou...
Name: Review, Length: 5611, dtype: object

#Remove meaningless words such as: is, in, this...

In [32]:
import nltk
from nltk.corpus import stopwords
sw = stopwords.words('english')

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [33]:
df['Review'] = df['Review'].apply(lambda x: " ".join(x for x in str(x).split() if x not in sw))

In [34]:
df['Review']

0                                                   happy
1       good quality material however panels mis-matched.
2       product fun bedroom windows.<br />imagery bit ...
3       lo unico que gustaria es que sean un poco mas ...
4       great bang buck can't believe quality material...
                              ...
5606    great product reasonable money. delivered quic...
5607                               color way panels match
5608    great studio complement entire theme studio/li...
5609                   brought beauty kids room. love it.
5610    cute curtains sons room! thick enough keep lig...
Name: Review, Length: 5611, dtype: object

#Identify words with low frequency and remove those words

In [35]:
pd.Series(' '.join(df['Review']).split()).value_counts()

love                1271
curtains            1251
like                1017
look                 818
great                721
                    ...
pastel-ish             1
inserts                1
months.<br>stood       1
bleak                  1
studio/living          1
Name: count, Length: 10593, dtype: int64

In [36]:
temp_df = pd.Series(' '.join(df['Review']).split()).value_counts()[-1000:]

In [37]:
temp_df

lavender                1
taupe/gray/smoke/tan    1
pine                    1
#perfect                1
go's                    1
                       ..
pastel-ish              1
inserts                 1
months.<br>stood        1
bleak                   1
studio/living           1
Name: count, Length: 1000, dtype: int64

In [38]:
df['Review'] = df['Review'].apply(lambda x: " ".join(x for x in x.split() if x not in temp_df))

In [39]:
df['Review']

0                                                   happy
1       good quality material however panels mis-matched.
2       product fun bedroom windows.<br />imagery bit ...
3       lo unico que gustaria es que sean un poco mas ...
4       great bang buck can't believe quality material...
                              ...
5606    great product reasonable money. delivered quic...
5607                               color way panels match
5608    great studio complement entire theme area. pho...
5609                   brought beauty kids room. love it.
5610    cute curtains sons room! thick enough keep lig...
Name: Review, Length: 5611, dtype: object

#Tokenization

In [43]:
!python -m textblob.download_corpora

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.
[nltk_data] Downloading package conll2000 to /root/nltk_data...
[nltk_data]   Unzipping corpora/conll2000.zip.
[nltk_data] Downloading package movie_reviews to /root/nltk_data...
[nltk_data]   Unzipping corpora/movie_reviews.zip.
Finished.

In [40]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [44]:
from textblob import TextBlob

df['Review'].apply(lambda x: TextBlob(x).words).head()

0                                              [happy]
1    [good, quality, material, however, panels, mis...
2    [product, fun, bedroom, windows, br, imagery, ...
3    [lo, unico, que, gustaria, es, que, sean, un, ...
4    [great, bang, buck, ca, n't, believe, quality,...
Name: Review, dtype: object

#Lemmatization

Lemmatization reduces different inflected forms of words (like 'running' to 'run') to their base form.

In [45]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [46]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [48]:
from textblob import Word

df['Review'] = df['Review'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [49]:
df['Review']

0                                                   happy
1        good quality material however panel mis-matched.
2       product fun bedroom windows.<br />imagery bit ...
3       lo unico que gustaria e que sean un poco ma la...
4       great bang buck can't believe quality material...
                              ...
5606    great product reasonable money. delivered quic...
5607                                color way panel match
5608    great studio complement entire theme area. pho...
5609                    brought beauty kid room. love it.
5610    cute curtain son room! thick enough keep light...
Name: Review, Length: 5611, dtype: object